*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea
.DS_Store
/build
app/build
app/release
/captures
.externalNativeBuild
.cxx
.kotlin

# Signing files
key.properties
*.jks
*.keystore
*.google_play_track_content

